@import 'src/styles/colors';
@import 'src/styles/media';
@import 'src/styles/mixins';

.wrapper {
	display: none;
	z-index: 10;
	overflow: auto;
}

.vertical_Class {
	padding-bottom: 20px;
}

.close {
	top: 10px;
	right: 10px;
}

.wrapper.active {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-out;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;

}

.modal__fon {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(6px);
	opacity: 0.5;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal {
	z-index: 9;
	position: absolute;
}

.modal_body {
	position: relative;
	border-radius: 20px;
}

.body {
	border-radius: 20px;
	overflow: hidden;
	background-color: $colorWhite;
	margin-bottom: 10px;
}

.modal_body {
	position: relative;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	cursor: pointer;
}

.close_svg {
	width: 27.5px;
	height: 27.5px;
}

.modal_swiper {
	position: inherit;
}

.swiper {
	padding-bottom: 10px;
}

.sl__wrapper {
	background-color: rgba(165, 165, 165, 0.9);

}

.vertical_Class {
	display: flex;
	justify-content: end;
	bottom: var(--swiper-pagination-bottom, 70px) !important;
	left: -230px !important;
}

.bullet {
	width: 16px;
	height: 16px;
	background: #B4B3B0;
	display: block;
	border-radius: 50%;
	margin: 0 8px;
}

.bulletActive {
	background: $colorRed;
}

.sl__img {
	display: flex;
	justify-content: center;
}

.vertical_Class {
	position: sticky !important;
	justify-content: center !important;
}

.sl__img {
	max-width: 100%;
	max-height: 296px;
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
		display: block;
	}
}


.block_text {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
	padding: 15px 0;

	h2 {
		text-align: center;
	}
}



.modal {
	max-width: 912px;
	width: 100%;
	margin: 0 auto;
	padding: 0 24px;
	z-index: 9;
}

.modal_body {}

.body {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	padding: 0px;
	padding-top: 40px;

}

.block_text {
	padding: 24px;
}


.text {
	text-align: center;
	@include fontRoboto400Regular(20px, 150%);
}

@include breakpoint-large {
	.sl__img {
		max-width: 100%;
		max-height: auto;
		margin: 0 auto;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	.closeBtn {
		width: 20px;
		height: 20px;
	}

	.close {
		position: absolute;
		top: 24px;
		right: 24px;
	}

}

@include breakpoint-medium {
	.modal {
		max-width: 100%;
		z-index: 9;
	}

	.close {
		position: absolute;
		top: 24px;
		right: 24px;
	}

	.text {
		font-size: 16px;
	}

	.close {
		right: 9px;
	}

	.closeBtn {
		width: 16px;
		height: 16px;
	}

	.vertical_Class {
		padding-bottom: 20px;
	}
}

@include breakpoint-small {
	.body {
		display: flex;
		flex-direction: column;
	}

	.text {
		font-size: 16px;
	}

	.vertical_Class {
		padding: 0;
		padding-top: 50px;
	}
}