@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/media';

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-gap: 40px;
	max-width: 912px;
	margin: 0 auto;
	padding: 0 24px;
	box-sizing: border-box;
	padding-top: 80px;
}

.info {
	// padding-top: 50px
}

.text {
	@include fontRoboto500Medium(20px, 100%);
	color: $colorRed;

}

.info__wrapper {
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
	grid-gap: 40px;
	// padding: 0px 70px;
	// background-color: $colorBlockLightGrey;
	display: grid;
	grid-template-columns: 1.5fr 2fr;
	grid-template-rows: 1fr;
}

.info__image_left {
	grid-template-columns: 2fr 1.5fr;

	.info__image {
		display: flex;
		justify-content: center;
		align-items: center;
		order: 1;
	}
}

.info__bl_text {
	padding: 24px 0;
}

.info__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-gap: 30px;
	height: 100%;
}

.block__button {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.block__button__none {
	display: none
}

.info__image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	// padding: ;
}


.info__bl_img {
	// width: 100%;
	// height: 100%;
	// max-height: 289px;
	padding: 10px 0;
	box-sizing: border-box;

	img {
		// width: 100%;
		// height: 100%;
		object-fit: contain;
		border-radius: 20px;
	}
}

.info__title {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;

}



@include breakpoint-medium {
	.container {
		padding-top: 40px;
	}

	.info__wrapper {
		grid-gap: 24px;
	}


	.info__bl_img {
		img {
			width: 266px;
			height: 209px;
		}
	}

	.info__text {
		align-items: center;
	}

	.info__title {
		p {
			text-align: start;
		}
	}
}

@include breakpoint-small {
	.info__image_left {
		// grid-template-columns: 1.5fr 2fr;

		// .info__bl_text {
		// 	order: 0;
		// }
	}

	.info__wrapper {
		background-color: $colorBlockLightGrey;
		grid-gap: 16px;
	}

	.info__bl_img {
		width: 100%;
		object-fit: fill;
		height: 200px;
	}

	.info__wrapper {
		grid-gap: 16px;

		.info__bl_text {
			order: 2;
		}
	}

	.info__wrapper {
		display: flex;
		flex-direction: column;
	}

	.info__bl_img {
		img {
			width: 100%;
		}
	}

	.info__title {
		grid-gap: 8px;

		p {
			text-align: center;
		}
	}

	.block__button {
		justify-content: center;
	}


	.info__text {
		grid-gap: 16px;
	}

	.info__title {
		padding: 0 35px;

		h2 {
			font-size: 14px;
		}
	}

	.block__button {
		button {
			padding: 12px 54px;
		}
	}

	.info {
		padding-top: 24px
	}

}