@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/media';

.container {
	display: flex;
	flex-direction: column;
	max-width: 864px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 24px;
	grid-gap: 23px;
	padding-top: 80px;
}

.padding_150 {
	padding-top: 150px;
}

.text_footer {
	p {
		color: $colorGreyLight;
	}
}

.text_footer__show {
	display: flex !important;
}

.text_footer__none {
	display: none !important;
}

.text_footer {
	display: flex;
	// flex-wrap: wrap;
}

.wrapper {
	display: flex;
	flex-direction: column;
	grid-gap: 36px;
}

.items {
	box-sizing: border-box;
	@include grid(1fr 1fr, auto);
	grid-gap: 20px;

}

.item {
	box-sizing: border-box;
	height: 100%;
}

.item__body {
	display: flex;
	flex-direction: column;
	grid-gap: 8px;
	box-sizing: border-box;
	border-radius: 20px;
	background-color: $colorBlockLightGrey;
	padding: 23px 34px 46px;
	height: 100%;
	text-align: center;
	overflow: hidden;

	p {
		text-align: center;
	}
}

.item__top {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;

}

.title {
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	@include fontRoboto500Medium(24px, 150%);
}

.text_footer__red {
	@include fontRoboto500Medium(16px, 150%);
	color: $colorRed;
}

@include breakpoint-medium {
	.padding_150 {
		padding-top: 80px;
	}

	.wrapper {
		grid-gap: 16px;
	}

	.text_footer__red {
		font-size: 14px;
	}

	.item__body {
		padding: 32.5px 24px 44px;
		grid-gap: 16px;
	}

	.item__img_bl {
		img {
			width: 32px;
			height: 35px;
		}
	}

	.text_footer {
		margin: 0 auto;
		text-align: center;
		max-width: 452px;
	}

}

@include breakpoint-small {
	.container {
		padding-left: 16px;
		padding-right: 16px;
	}

	.padding_150 {
		padding-top: 40px;
	}

	.text_footer__red {
		font-size: 12px;
	}

	.title {
		font-size: 14px;
	}

	.item__body {
		padding: 16px 10px;
		grid-gap: 8px;
	}

	.item__img_bl {
		img {
			width: 32px;
			height: 32px;
		}
	}

	.item__top {
		grid-gap: 8px;
	}

	.text_footer {
		margin: 0 auto;
		text-align: center;
		max-width: 452px;
		display: flex;
		flex-direction: column;

		span {
			display: inline-block;
		}
	}

}