/* ***** Color ***** */
$colorWhite: white;
$colorBlack: black;
$colorRed: red;
$colorGrey: #999999;
$colorTextGrey: #6C6C6C;
$colorGreyLight: #707070;
$colorBlackLight: #333333;
$colorLineGrey: #828282;
$colorBlockLightGrey: #F0F0F0;
$colorBlockLightBlue: #EDF2F8;
