@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/media';

.container {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
}

.news__header {}

.news__items {
	@include grid(1fr 1fr 1fr, 1fr);
	grid-gap: 20px;
}

.news_header_title {
	text-align: center;
}

.news__bl_header_link {}

.news__img_block {
	img {

		border-radius: 20px;
		width: 100%;
		height: auto;
	}
}

.news__wrapper {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
}

.news__data {
	text-align: center;
}

.news__title {
	text-align: center;
}

.news__text {
	text-align: center;
}

.news__text_wrapper {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
}

.news__text_block {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
}

.news__title {
	@include fontRoboto600Semi-Bold(18px, 120%);

}

.news__data {
	color: $colorRed;
}

.news__button {
	outline: 1px solid $colorRed;
	text-align: center;
}

.news__bl_header_link {}

.news__header_link {
	padding-right: 35px;
	position: relative;
	color: $colorRed;
}

.news__header_link {

	display: block;
	width: max-content;

}

.news__header_link::after {
	position: absolute;
	content: '';
	top: 35%;
	right: 0;
	width: 24px;
	height: 10px;
	background-image: url('../../../../public/assets/image/arrow.svg');
	background-position: center;
	background-repeat: no-repeat;
}

@include breakpoint-medium {
	.container {
		grid-gap: 24px;
	}

	.news__items {
		grid-template-columns: 1fr 1fr;

		li:nth-child(n + 3) {
			display: none;
		}
	}

	.news__img_body {
		img {
			width: 100%;
			height: 200px;
			object-fit: inherit;
		}
	}

	.news__text_wrapper {
		align-items: center;
	}

	.news__wrapper {
		grid-gap: 16px;
	}

	.news__button {
		width: max-content;

		padding: 16px 50px;
	}

	.news__text_block {
		padding: 0 10px;
	}
}

@include breakpoint-small {
	.news__items {
		grid-gap: 16px;
	}

	.news__wrapper {
		grid-gap: 8px;
	}

	.news__text_wrapper {
		grid-gap: 8px;
	}

	.news__text_block {
		grid-gap: 8px;
		padding: 0;
		// text-align: left;
	}

	.news__data {
		text-align: start;
		font-size: 12px;
	}

	.news__title {
		text-align: start;
		font-size: 12px;
	}

	.news__text {
		text-align: start;
		font-size: 10px;
	}

	.news__button {
		font-size: 12px;
		padding: 12px 47px;
	}
}