@import 'src/styles/colors';
@import 'src/styles/media';
@import 'src/styles/mixins';

.brands {
	width: 100%;
}

.container {
	box-sizing: border-box;
	grid-gap: 40px;
}

.brands__grid {
	margin-top: 50px;
	width: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: max-content max-content;
	grid-gap: 20px;

}

.brands__grid {
	li {
		box-sizing: border-box;
		background-color: $colorBlockLightGrey;

		.brand__body {
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			grid-gap: 40px;
		}
	}

	.info {
		@include fontRoboto400Regular(12px, 100%)
	}

	.text {
		color: $colorBlackLight;
		@include fontRoboto500Medium(17px, 120%)
	}

	.brand__block {
		position: relative;
		max-width: 275px;
		width: 100%;

		&::after {
			content: '';
			padding-bottom: 20%;
			display: block;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: contain;
		}

	}

	li:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
		background-color: $colorRed;

		.brand__block {
			max-width: 260px;
		}

		.brand__body {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}

		.info {
			color: $colorWhite;
		}

		.text {
			color: $colorWhite;
		}
	}


	li:nth-child(2) {
		grid-column-start: 3;
		grid-column-end: 5;


	}

	li:nth-child(3) {
		grid-column-start: 5;
		grid-column-end: 7;
	}

	li:nth-child(4) {
		grid-column-start: 3;
		grid-column-end: 7;

		.brand__body {
			display: flex;
			flex-direction: row;
		}

		.brand__block {
			&::after {
				padding-bottom: 33%;
			}
		}
	}
}

.accessories {
	margin-top: 22px;

	@include grid((repeat(6, 1fr)), 1fr);
	grid-gap: 30px;
}

.accessories_item {
	padding: 10px 20px 20px 20px;
	box-shadow: 5px 5px 10px 0px rgba(34, 60, 80, 0.5);
	background-color: $colorBlockLightGrey;
	box-sizing: border-box;
}

.accessories_text {
	@include fontRoboto700Bold(18px, 100%);
	// padding-bottom: 10px;
}

.brand__body {
	padding: 37px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

@include breakpoint-medium {
	.container {
		grid-gap: 24px;
	}

	.brands__grid {
		grid-template-columns: (1fr, 1fr);
		grid-template-rows: 1fr 1fr;
	}

	.brand__logo_1 {
		display: none;
	}

	.brand__logo_1_mobile {
		display: block;
	}

	.brand__1 {
		grid-column-start: none;
		grid-column-end: none;
		grid-row-start: none;
		grid-row-end: none;
	}

	.brand__4 {
		grid-column-start: none;
		grid-column-end: none;
	}

	.container {
		grid-gap: 24px;
	}

	.brands__grid {
		@include grid(1fr 1fr, 1fr 1fr)
	}

	.brands__grid {
		grid-template-columns: 1fr 1fr !important;
		grid-template-rows: 1fr 1fr !important;
	}


	.brand__1 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.brand__4 {
		grid-column-start: 2;
		grid-column-end: 3;
	}
}

@include breakpoint-small {
	.container {
		grid-gap: 16px;
	}

	.brand__wrapper {
		// padding: 27px 22px;
	}

	.container {
		padding-left: 16px;
		padding-right: 16px;
		grid-gap: 24px;
	}

	// .banner__fon 
	.brand__1 {
		// grid-column-start: 1;
		// grid-column-end: 2;
		// grid-row-start: 1;
		// grid-row-end: 2;
	}

	.brand__4 {
		// grid-column-start: 2;
		// grid-column-end: 3;
	}

	.brands__grid {
		grid-gap: 16px;

	}
}