@import '../../../../styles/colors';
@import '../../../../styles/media';
@import '../../../../styles/mixins';

.items__wrapper {
	width: 100%;
}

.items__bl {
	width: 100%;
	padding-top: 45px;
}

.items__bl {
	display: flex;
	flex-direction: column;
	grid-gap: 30px
}

.items_body {
	@include grid(max-content 1fr max-content, auto);
	grid-gap: 20px;
	width: 100%;
	align-items: center;
	grid-gap: 40px;
	padding-bottom: 13px;
	border-bottom: 1px solid $colorGrey;

	.li {
		padding-top: 32px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 13px;
		border-bottom: 1px solid $colorGrey;
	}
}

.item_1 {
	@include fontRoboto500Medium(32px, 100%);
	color: $colorRed;
}

.item_2,
.item_3 {
	@include fontRoboto500Medium(24px, 120%);
}

.item_2 {
	text-align: start;
	// padding-left: 40px !important;

	p {
		max-width: 480px;
	}
}

.item_3 {
	text-align: end;
	color: $colorGreyLight;
	width: max-content;
}

@include breakpoint-medium {
	.items_body {
		grid-gap: 24px;

	}

	.item_1 {
		font-size: 24px;
	}

	.item_2,
	.item_3 {
		font-size: 20px;
	}

	.item_2 {
		padding-left: 0;
	}

}

@include breakpoint-small {
	.items_body {
		grid-gap: 8px;
		padding-bottom: 7px;

	}

	.item_1 {
		font-size: 14px;
	}

	.item_2,
	.item_3 {
		font-size: 12px;
	}


}