@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/media';

.container {
	max-width: 912px;
	width: 100%;
	margin: 0 auto;
	padding: 0 24px;
	padding-top: 80px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
}

.title__block {
	p {
		color: $colorBlackLight;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
}

.body {
	display: flex;
	flex-direction: column;
	grid-gap: 7px;

	h4 {
		text-transform: uppercase;
	}
}

.subtitle {
	h4 {
		text-align: start;
	}
}

.items {
	@include grid(1.5fr 1fr 1.2fr, auto);
	border-top: 1px solid $colorLineGrey;
}

.text__li {
	list-style: none;
	position: relative;
	padding-left: 17px;

	p {
		color: $colorLineGrey;
	}



	&::after {
		position: absolute;
		content: '';
		top: 9px;
		left: 5px;
		width: 2.5px;
		height: 2.5px;
		background-color: $colorLineGrey;
		border-radius: 50%;
	}
}

.item {
	padding-top: 24px;
	padding-left: 32px;
	padding-right: 20px;
}

.item:nth-child(1) {
	padding-left: 0;
}

.item:nth-child(3) {
	padding-right: 0;
}

.item:nth-child(1) {
	border-right: 1px solid $colorLineGrey;
}

.item:nth-child(2) {
	border-right: 1px solid $colorLineGrey;
}

.text {
	font-size: 14px;
}

.text_big {
	font-size: 16px;
	color: $colorLineGrey;
}

@include breakpoint-medium {
	.container {
		padding-top: 24px;
		grid-gap: 24px;
	}

	.item {
		padding-top: 9px;
		padding-left: 15px;
		padding-right: 7px;
	}

	.text {
		font-size: 10px;
	}

	.text_big {
		font-size: 12px;
		color: $colorLineGrey;
	}

	.wrapper {
		grid-gap: 24px;
	}

	.body {
		grid-gap: 8px;
	}
}

@include breakpoint-small {
	.container {
		padding-top: 16px;
		grid-gap: 16px;
	}

	.item {
		border-top: 1px solid $colorLineGrey;
	}

	.items {
		display: flex;
		flex-direction: column;
		border-top: none;
	}

	.item:nth-child(1) {
		border-right: none;
	}

	.item:nth-child(2) {
		border-right: none;
	}

	.item {
		padding: 8px 0
	}

	.text_big {
		font-size: 10px;
	}

	.wrapper {
		grid-gap: 0px;
	}

	.text_footer {
		padding-top: 8px;
		border-top: 1px solid $colorLineGrey;
	}

	.body {
		grid-gap: 8px;
	}
}