@import "src/styles/variables";
@import "src/styles/mixins";

.title {
  margin: 0 0 40px;
  font-size: 28px;
  line-height: 32px;
  color: rgba(27, 31, 59, 0.8);
  max-width: calc(100% - 40px);

  @media (max-width: $mobileLarge) {
    font-size: 24px;
    line-height: 28px;
  }

  @media (max-width: $mobile) {
    font-size: 20px;
    line-height: 24px;
  }
}