@import '../../../styles/colors';
@import '../../../styles/media';
@import '../../../styles/mixins';

.container {
	box-sizing: border-box;
	padding: 0 15px;
	padding-top: 40px;
	max-width: 864px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
}

.title__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-gap: 40px;
}

.tab {
	display: flex;
	grid-gap: 20px;
	width: max-content;
	cursor: pointer;
}

.tab__button {
	padding: 16px 24px;
	border-radius: 40px;
	outline: 1px solid $colorGrey;
	color: $colorGrey;
	box-sizing: border-box;
}

.link_active {
	.tab__button {
		background-color: $colorRed;
		color: $colorWhite;
		outline: 1px solid $colorRed;
	}
}

.tab__link {
	border: none;
	background: transparent;
	cursor: pointer;
}

.tab_active {
	.tab__button {
		background-color: $colorRed;
		color: $colorWhite;
		outline: 1px solid $colorRed;
	}
}

.display_active {
	display: grid;
}

.display_none {
	display: none;
}

@include breakpoint-medium {
	.title__block {
		grid-gap: 10px;

		h2 {
			text-align: start;
		}
	}

	.tab__button {
		padding: 8px 16px;
	}
}

@include breakpoint-small {
	.tab__button {
		padding: 6px 12px;
	}

	.tab {
		padding: 15px 0;
		place-self: flex-start;
		width: 100%;
		overflow: auto;
		grid-gap: 10px;

		button {
			min-width: max-content;
		}
	}
}