@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/media';

.advantage {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	position: relative;
}

.fon {
	position: absolute;
	top: 0;
	left: -10%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.advantage_main_title {
	text-align: center;
}

.advantage_wrapper {
	@include grid(repeat(6, 1fr), 1fr 1fr);
	grid-gap: 24px;

}

.advantage__item {
	box-shadow: 5px 5px 10px 0px rgba(34, 60, 80, 0.5);
	// border-radius: 20px;
	background-color: $colorBlockLightGrey;
}

.advantage__item:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 3;
}

.advantage__item:nth-child(2) {
	grid-column-start: 3;
	grid-column-end: 5;
}

.advantage__item:nth-child(3) {
	grid-column-start: 5;
	grid-column-end: 7;
}

.advantage__item:nth-child(4) {
	grid-column-start: 1;
	grid-column-end: 4;

}

.advantage__item:nth-child(5) {
	grid-column-start: 4;
	grid-column-end: 7;
}

.advantage__item_body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-gap: 15px;
	padding: 24px;
	box-sizing: border-box;

}

.advantage__bl_img {
	display: flex;
	justify-content: center;
	align-items: end;
	height: max-content;
	width: max-content;

	img {
		width: 62px;
		height: 62px;
	}
}

.advantage__text_block {
	display: flex;
	align-items: end;
	justify-content: space-between;
	grid-gap: 15px;
}

.text {
	@include fontRoboto400Regular(16px, 100%)
}

.advantage__item__top {
	display: flex;
	flex-direction: column;
	grid-gap: 100px;
}

.advantage__text {
	// text-align: center;
	// max-width: 210px;
	-webkit-text-stroke: 1px $colorBlack;
	color: transparent;
	letter-spacing: 10%;
	@include fontRoboto500Medium(24px, 150%)
}

.advantage__bl_link {
	display: flex;
	justify-content: center;

}

.advantage__link {
	color: $colorRed;
}

@include breakpoint-medium {
	.advantage {
		grid-gap: 24px;
	}

	.advantage_wrapper {
		grid-gap: 20px;
	}

	.advantage__bl_img {
		justify-content: flex-start;

	}

	.advantage__text {
		max-width: none;
		text-align: inherit;
		font-size: 14px;
	}

	.advantage__bl_link {
		justify-content: inherit;
	}

	.advantage__item_body {
		grid-gap: 16px;
	}
}

@include breakpoint-small {
	.advantage {
		grid-gap: 16px;
	}

	.advantage_wrapper {
		grid-gap: 16px;
	}

	.advantage__text {
		// max-width: none;
		// text-align: inherit;
		// font-size: 14px;
	}

	.advantage__link {
		font-size: 12px;
	}

	.advantage__bl_link {
		justify-content: inherit;
	}

	.advantage__item_body {
		padding: 16px;
		grid-gap: 16px;
	}

	/* ************** * *************** */
	.advantage__item:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.advantage__item:nth-child(2) {
		grid-column-start: 4;
		grid-column-end: 7;
	}

	.advantage__item:nth-child(3) {
		grid-column-start: 1;
		grid-column-end: 7;

		.advantage__bl_img {
			justify-content: center;
		}

		.advantage__bl_link {
			justify-content: center;
		}

	}

	.advantage__item:nth-child(4) {
		grid-column-start: 1;
		grid-column-end: 4;

	}

	.advantage__item:nth-child(5) {
		grid-column-start: 4;
		grid-column-end: 7;
	}
}